<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMJ9jEgmsj1UgN7gq2mHTIo1nRQ03uxfA</string>
	<key>GCM_SENDER_ID</key>
	<string>748342580441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp2</string>
	<key>PROJECT_ID</key>
	<string>mmmm-74a58</string>
	<key>STORAGE_BUCKET</key>
	<string>mmmm-74a58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748342580441:ios:c7fcf589dc8ac04df39ac8</string>
</dict>
</plist>